<div
  class="container-fluid bg-dark d-flex align-content-center flex-wrap"
  style="height : 100vh"
>
  <h1 style="color:blanchedalmond">Empleados</h1>
  <table
    class="table table-dark table-striped"
    method="post"
    action="/admin/empleados/delate/:id"
  >
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">apellido</th>
      <th scope="col">telefono</th>
      <th scope="col">direccion</th>
      <th scope="col">foto</th>
      <th>-</th>
      <th>-</th>
    </tr>

    {{#each empleados}}
      <tr>
        <td>{{id}}</td>
        <td>{{nombre}}</td>
        <td>{{apellido}}</td>
        <td>{{telefono}}</td>
        <td>{{direccion}}</td>
        <td> <img src="/images/{{uuid}}" alt="nofunciona" style="height: 50px"> </td>
        <td> <a href="/admin/empleados/update/{{id}}" class="btn btn-info"><i
              class="fas fa-trash-alt"
            ></i>
            modificar</a></td>
        <td><a href="/admin/empleados/delate/{{id}}" class="btn btn-danger"><i
              class="fas fa-trash-alt"
            ></i>
            Eliminar</a></td>
      </tr>
    {{/each}}
  </table>
  <div class="d-grid gap-2 col-6 mx-auto">
    <a
      href="/admin/empleados/create"
      class="btn btn"
      style="background-color: #900C3F "
    ><i class="fas fa-pen-square"></i>     agregar empleado</a>
  </div>
</div>